<h3>Recent Activity</h3>
        <hr>
        {% for massage in room_massages %}
            <div>
                <small><a href="{% url 'user-profile' massage.user.id %}" >@{{massage.user}} </a>  {{massage.created|timesince}}</small>
                <small>replied to "{{massage.room}}"</small>
                <p>{{massage}}</p>
                
                {% if request.user == massage.user %}

                <a href="{% url 'delete-Chat' massage.id %}">Delete</a>
                <hr>
                {% endif %}
                
            </div>
        {% endfor %}